div {
    display: inline-block;
    background-color: rgba(255, 228, 196, 0.705);
    border: 1px solid black;
    text-align: center;
    height: 200px;
    width: 200px;
}

div:hover {
    background-color: aquamarine;
}