@charset "UTF-8";

body {
    background-color: rgb(205, 255, 203);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(4, 109, 0);
}

h1#principal {
    text-align: center;
    background-color: rgb(4, 109, 0);
    color: white;
    border-radius: 50px;
}

h2 {
    color: rgb(73, 109, 71);
}

.basico {
    color: rgb(100, 241, 194);
}

.intermediario {
    color: rgb(252, 240, 71);
}

.avancado {
    color: rgb(243, 100, 100);
}

.destaque {
    background-color: rgba(252, 240, 71, 0.397);
}